/linux-5.0.tar.xz
/patch-5.0.2.xz
/patch-5.0.3.xz
/linux-5.1.tar.xz
/patch-5.1.1.xz
/patch-5.1.2.xz
/linux-5.2.tar.xz
/patch-5.2.1.xz
/patch-5.2.2.xz
/patch-5.2.3.xz
/linux-5.3.tar.xz
/patch-5.3.1.xz
/linux-5.4.tar.xz
/patch-5.4.2.xz
